body {
  /* font-size: .875rem; */
}
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 700;
    color: #333;
  }
  
  .sidebar  {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #10756f;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
